.liferay-modal-body {
	font-family: "Source Sans 3" !important;
}

.product-modal-footer--support {
	justify-content: left !important;
	margin: 0;
}

.product-modal-primary-button {
	background-color: rgb(37, 72, 138) !important;
	border-color: rgb(37, 72, 138) !important;
	border-radius: 8px !important;
	font-size: 16px;
	line-height: 24px;
	min-height: 41.6px;
	padding: 8px 16px !important;
}

.product-modal-support {
	font-size: 16px;
	margin-top: 32px;
}

.product-modal-support a {
	margin-left: 8px;
}

.product-requirements-modal-dialog #product-modal-cancel {
	background-color: transparent !important;
	border: 1px solid #2b3a4b !important;
	border-radius: 8px !important;
	color: #2b3a4b !important;
	padding: 8px 16px !important;
}

.product-requirements-modal-dialog #product-modal-continue {
	background-color: #25488a !important;
	border-radius: 8px !important;
	color: #ffffff !important;
	padding: 8px 16px !important;
}

.product-requirements-modal-dialog .modal-body {
	border: none !important;
	padding: 0 24px !important;
}

.product-requirements-modal-dialog .modal-content {
	border-radius: 10px;
}

.product-requirements-modal-dialog .modal-header {
	border: none !important;
	height: 20px !important;
	margin: 24px 0 4px !important;
	padding: 0 24px !important;
}

.product-requirements-modal-dialog .modal-header h2 {
	color: #2e5aac !important;
	font-size: 14px !important;
	font-weight: 700 !important;
	margin: 0 !important;
	text-transform: uppercase !important;
}

.product-requirements-modal-dialog .product-modal-description {
	color: #6c6c75 !important;
	font-size: 16px !important;
	font-weight: 400 !important;
	margin-top: 4px !important;
	padding-left: 2px !important;
}

.product-requirements-modal-dialog .product-modal-description p:last-child {
	margin-bottom: 0;
}

.product-requirements-modal-dialog .product-modal-footer {
	display: flex !important;
	gap: 12px;
	justify-content: flex-end;
	padding: 28px 0 !important;
}

.product-requirements-modal-dialog .product-modal-title {
	font-size: 32px !important;
	font-weight: 700 !important;
	line-height: 1.2;
	margin: 0 !important;
}

.product-requirements-modal-fragment {
	font-family: "Source Sans 3";
}
