.date-picker {
	& .clay-time {
		& .form-control {
			padding-bottom: 11px !important;
			padding-top: 11px !important;
		}
	}
}

.dropdown-menu.date-picker-dropdown-menu {
	max-width: 370px !important;
}
