.new-app-body-container {
	max-width: 840px;
	width: 100%;

	.new-app-form {
		&-profile {
			.form-multiselect {
				.form-control {
					background-color: var(--color-neutral-0);
					border: 1px solid var(--color-neutral-4);
					border-radius: 8px;
					min-height: 48px;

					.label {
						background-color: var(--color-state-info-lighten-2);
						border: none;
						color: var(--color-state-info-darken-2);
						font-size: 13px;
						padding: 8px;
					}
				}
			}
		}

		&-build {
			.form-radio-card {
				gap: 16px;
			}
		}
	}
}

.app-review-page-agreement {
	display: flex;
	font-size: 13px;
}

.app-review-page-agreement-highlight {
	font-weight: 600;
}
