configuration.name="dxp-connector"
enabled=B"true"
filter.mapping.url.pattern=["/o/commerce-media/*", "/o/headless-commerce-delivery-cart/*", "/o/headless-commerce-delivery-catalog/*", "/o/headless-commerce-delivery-order/*"]
headers=["Access-Control-Allow-Headers: *", "Access-Control-Allow-Methods: *", "Access-Control-Allow-Origin: *"]