.app-type {
	border: none;
	width: 600px;
}

.app-type-dropdown {
	width: 600px;
}

.app-type-list-unstyled {
	width: 584px !important;
}

.app-type-list-unstyled .dropdown-item {
	max-width: 584px !important;
}

.app-type-list-unstyled .dropdown-item:hover {
	border-radius: 6px !important;
	color: var(--color-action-primary-hover) !important;
	transition: all 0.3s ease-in-out;
}

.dropdown-menu {
	border-radius: 10px !important;
	max-width: none !important;
	padding: 8px !important;
}

.provide-app-build-page-add-package-button {
	background-color: var(--color-brand-primary-lighten-6);
	border-color: var(--color-brand-primary-lighten-5);
	color: var(--color-brand-primary);
	margin-top: 1.5rem;
}

.provide-app-build-page-add-package-button:active,
.provide-app-build-page-add-package-button:hover {
	background-color: var(--color-action-primary-hover-10);
	border-color: var(--color-action-primary-hover);
	color: var(--color-brand-primary);
}

.provide-app-build-page-app-build-container {
	margin-bottom: 1.5rem;
}

.provide-app-build-page-app-build-radio-container,
.provide-app-build-page-app-build-checkbox-container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.provide-app-build-page-cloud-compatible-container {
	align-items: center;
	display: flex;
	gap: 1.5rem;
	justify-content: flex-start;
}

.provide-app-build-page-dropzone-container {
	border: 1px solid var(--color-neutral-2);
	border-radius: 0.5rem;
}

.provide-app-build-page-dropzone-container-header {
	background-color: var(--color-neutral-1);
}

.provide-app-build-page-dropzone-container .dropzone-upload-container {
	height: unset;
	margin: 0.5rem;
	padding: 1.5rem;
	width: unset;
}

.provide-app-build-page-dropzone-container .file-list-container {
	margin-bottom: 0;
}

.provide-app-build-page-dropzone-container
	.file-list-container
	.document-file-list-item-container {
	border: none;
	margin-bottom: 0;
}
