.add-currency-button {
	background: var(--color-brand-primary-lighten-6);
	border: 1px solid var(--color-brand-primary-lighten-5);
	color: var(--color-brand-primary);
}

.add-currency-button:hover {
	background: var(--color-action-primary-hover-10);
	border: 1px solid var(--color-action-primary-hover);
	color: var(--color-brand-primary);
	opacity: 0.8;
}

.currency-selector {
	margin-top: 0.5rem;
}

.currency-selector-container {
	padding-bottom: 64px;
	padding-top: 24px;
}

.license-icon-button {
	background: var(--color-brand-primary-lighten-6);
	border: 1px solid var(--color-brand-primary-lighten-5);
	border-radius: 10px;
	color: var(--color-brand-primary);
	font-size: 14px;
	font-weight: 600;
	line-height: 16px;
}

.currency-selector-modal .modal-body {
	border: none;
}

.currency-selector-modal .modal-subtitle-section {
	color: var(--color-neutral-7);
	display: flex;
	padding-inline: 1.5rem;
}

.currency-selector-modal .modal-header {
	border: none;
	padding-top: 1.5rem;
}

.currency-selector-modal .modal-title {
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 0%;
	line-height: 40px;
	vertical-align: middle;
}
