<button
	class="btn btn-primary modal-trigger rounded-lg"
	style="display: none;"
	type="button"
>
	<span data-lfr-editable-id="buttonText" data-lfr-editable-type="text">
	Open Modal
	</span>
</button>

[#if configuration.modalId?has_content]
	<div class="d-none" id="${configuration.modalId}">
		<lfr-drop-zone></lfr-drop-zone>
	</div>

	[#if configuration.modalEditMode]

	[/#if]		<style data-lfr-nonce>
			.has-edit-mode-menu .page-editor__fragment-content #${configuration.modalId} {
				display: block !important;
			}
		</style>
[/#if]