.marketplace-donut-chart {
	border-radius: var(--border-radius-lg, 8px);
	min-height: 290px;
	width: 100%;

	& .chart-legend-data {
		font-size: var(--h3-font-size, 1.75rem);
	}

	& .details-button {
		font-size: var(--text-paragraph-xs-font-size, 11px);
	}

	& .donut-chart-container {
		flex: 0 0 clamp(130px, 56%, 165px);
	}
}

.marketplace-donut-chart-center-legend {
	font-size: var(--h2-font-size, 2rem);
	font-weight: 700;
}

.recharts-pie * {
	outline: none !important;
}
