.environment-cards {
	display: grid;
	gap: var(--spacer-4, 1.5rem);
	grid-template-columns: repeat(2, minmax(0, 1fr));

	.detailed-card-compact .detailed-card-container,
	.detailed-card-container {
		height: 100%;
		width: 100%;
	}

	.detailed-card-fit {
		width: auto;
	}

	@media (max-width: 768px) {
		grid-template-columns: minmax(0, 1fr);
	}
}
