input[type='file'] {
	display: none;
}

.upload-logo {
	&-container {
		align-items: center;
		display: flex;
		gap: 1rem;
		justify-content: center;
		margin-bottom: 1.5rem;
	}

	&-icon {
		border-radius: 4px;
		height: 4.5rem;
		object-fit: contain;
		width: 4.5rem;
	}

	&-placeholder {
		height: 4.5rem;
		width: 4.5rem;

		&-icon {
			font-size: 1.5rem;
		}
	}

&-delete-button {
		border: 1.2px solid var(--color-action-neutral-default);
		border-radius: 0.1875rem;
		transition: background-color 0.3s;

		&-text {
			color: var(--color-action-neutral-default);
			font-size: 0.875rem;
			font-weight: 600;
			line-height: 1rem;

			transition: color 0.3s;
		}

		&:hover {
			background-color: var(--color-action-neutral-default);
			border: 1.5px solid var(--color-action-neutral-default);
			color: var(--color-neutral-0);
		}
	}
}
