.liferay-seo-studio-form {
	&-aggreements-text {
		font-size: 11px;
		text-align: justify;
	}

	&-container {
		max-width: 610px;
	}

	&-fail {
		border: solid 1px red !important;
	}

	&-next-step-page-icon {
		height: 40px !important;
		margin: 20px !important;
		width: 40px !important;
	}

	&-select-input {
		height: 40px;
	}

	.loading-animation {
		margin: 0px !important;
	}
}
