[#assign available = configuration.available!false]
[#assign customPrice = configuration.customPrice!false]
[#assign purchasable = configuration.purchasable!false]

<span class="d-none product-id" data-lfr-editable-id="product-id" data-lfr-editable-type="text">#</span>

<div class="tier-card [#if !available]tier-card--coming-soon[/#if]">
	<div class="tier-card__content">
		<div class="tier-card__header">
			<h3 class="tier-card__title" data-lfr-editable-id="title" data-lfr-editable-type="text">
				Tier Name
			</h3>

			[#if !available]
			<span class="tier-card__badge">
				${configuration.badgeText!'Coming Soon'}
			</span>
			[/#if]

		</div>

		<div class="tier-card__price-label" data-lfr-editable-id="price-label" data-lfr-editable-type="text">
			Starting at
		</div>

		<div class="tier-card__price">

			[#if customPrice]
			<span class="tier-card__price-value">
				Custom
			</span>
			[#else]
			<span class="tier-card__price-value" data-tier-card-price>
				$0
			</span>
			<span class="tier-card__price-suffix" data-lfr-editable-id="price-suffix" data-lfr-editable-type="text">
				per month
			</span>
			[/#if]

		</div>

		<div class="tier-card__subtitle" data-lfr-editable-id="subtitle" data-lfr-editable-type="text">
			Plus usage-based tokens
		</div>

		<div class="tier-card__description" data-lfr-editable-id="description" data-lfr-editable-type="rich-text">
			<p>
				Deploy ready-made Liferay agents into your existing sites,
				content, and commerce.
			</p>
		</div>
	</div>

<a class="btn [#if available]btn-primary tier-card__button[#else]btn-secondary tier-card__button-secondary disable[/#if]" data-tier-card-button href="${configuration.buttonLink!'#'}" [#if !available]inert[/#if]>
		${configuration.buttonText!'Purchase'}
	</a>

	<h4 class="tier-card__features-title">
		What's included:
	</h4>

	<div class="tier-card__features">
		<div data-lfr-editable-id="features" data-lfr-editable-type="rich-text">
			<ul>
				<li>OTB Liferay agents</li>
				<li>Up to 5 customised agents</li>
				<li>200MB Data Source Capacity</li>
			</ul>
		</div>
	</div>
</div>